/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 2em;
}

h2 {
    text-align: center;
    color: #3498db;
    margin-bottom: 1em;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="number"] {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1em;
}

a {
    display: block;
    text-align: center;
    margin-top: 1em;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
