/* General Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Softer background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px; /* Increased width for better space usage */
    padding: 40px; /* Added padding for better spacing */
    background-color: #fff;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Softer shadow */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px; /* More space below heading */
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Rounded input fields */
    box-sizing: border-box;
    font-size: 16px; /* Larger font for better readability */
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #3498db; /* Blue border on focus */
    outline: none;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3498db; /* Soft blue button */
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounded submit button */
    font-size: 18px; /* Larger font for the button */
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Error Message */
.error-message {
    margin-top: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    animation: fadeIn 0.5s ease;
}

.forgot-password {
    margin-top: 15px;
    text-align: center;
}

.forgot-password a {
    color: #3498db; /* Blue color for the link */
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Back to Home Button */
.back-home {
    margin-top: 20px;
    text-align: center;
}

.back-home .btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Soft blue color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.back-home .btn-back:hover {
    background-color: #2980b9; /* Darker blue on hover */
}


/* Fade-in animation for error message */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
